        #map {
            position: absolute;
            height: 830px;
            width: 99%;
        }
        #mesh {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 2;
        }
        table{
            height: 100%;
	    width: 100%;
            border: 2px solid #000;
            border-collapse:collapse;
        }
        td{
            border: 2px solid #000;
	    /*background-color: #33cd5f;*/
	    opacity:.5;
        }

	.w-comb {
	    background-color: red;
	    display: inline-block;
	    position: relative;
	}

	.w-comb-sub1,.w-comb-sub2 {
	    background-color: red;
	    position: absolute;
	    width: inherit;
	    height: inherit;
	}
	
	.w-comb-sub1 {
	    transform: rotate(-60deg);
	}
	
	.w-comb-sub2 {
	    transform: rotate(60deg);
	}
	.box {
	    height: 90vh;
            width: 100%;
	}
	/*vvvvvvvvvvvvv box1~ vvvvvvvvvvvvvvv*/
	.box li1{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 2px solid #000;
	    line-height: 150px;
	    opacity:.3;
	    text-align: center;
	}
	.box li2{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li3{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li4{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li5{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	    background-color: #33cd5f;
	}
	.box li6{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li7{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li8{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	    background-color: #33cd5f;
	}
	.box li9{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li10{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li11{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li12{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li13{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li14{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li15{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li16{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li17{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li18{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li19{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li20{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li21{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li22{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li23{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li24{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	.box li25{
	    float: left;
	    width: 165px;
	    height: 165px;
	    margin-left: -1px;
	    border: 1px solid #000;
	    line-height: 150px;
	    opacity:.3;
	}
	/*vvvvvvvvvvvvv box25~ vvvvvvvvvvvvvvv*/
