{% extends "bootstrap/base.html" %}

{% block title %}空污偵測系統{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-expand-xl navbar-dark bg-dark"> <a class="navbar-brand" href="#">空污偵測系統</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06"
    aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation"> <span
      class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarsExample06">
    <ul class="navbar-nav mr-auto">
      {% block nav -%}
      <li class="nav-item active"> <a class="nav-link" href="{{ url_for('user_access.index') }}">總覽</a></li>
      {%- endblock nav%}
      <li class="nav-item active dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% block current_robot -%}{%- endblock current_robot %}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown06">
          <!--範例
            <a class="dropdown-item" href="#">Action</a>
          -->
          {% block robots -%}
          {%- endblock robots %}
        </div>
      </li>
    </ul>
  </div>
</nav>

{%- endblock navbar %}

{% block content -%}
<div class="container-fluid">
  {% block container -%}
  {%- endblock container %}
</div>
{%- endblock content %}
